  <body>
    <div class="container">

      <div id="home-page">
        <h1>InstaBarber</h1>
        <p>
          <%= button_to "Sign up!", new_user_registration_path, method: "get", class: "btn btn-success" %>
        </p>
      </div>

    </div><!-- /.container -->
</body>